<div>
  Caregiver: <%= current_user.email %><br>
  Animal: <%= @animal.name %><br>
  <%= render "error_messages", target: @adoption %>
  <%= button_to "Finalize Adoption", [@animal, :adoptions] %>
</div>
