.adoption-container{
  margin-top: 100px;
}
.outer-container {
  margin-left: 20px;
  margin-right: 20px;
}
.name-container{
  text-align: center;
}
.button-container{
  margin-top: 50px;
}
.gif-container{
  margin-top: 100px;
  text-align: center;
}
#animal{
  border-style: solid;
  border-width: 5px;
}
.response-container{
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 5px;
}
.animal-profile-container{
  margin-top: 100px;
  margin-left: -100px;
}
.wooden-frame-container{
  border: #2e1a12 solid 100px;
  -webkit-border-image: url(wood.png) 200 stretch;
  -moz-border-image: url(wood.png) 200 stretch;
  border-image: url(wood.png) 200 stretch;
  background: #3D1F00;
}
.shelter-container{
  text-align: center;
  margin-top: 250px;
}
.animal-index-container{
  margin-left: 100px;
}
.form-container{
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
}
.user-form-container{
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
}
.session-form-container{
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 40px;
}
.adoption-form-container{
  margin-top: 50px;
}
.payment-form-container{
  margin-left: 500px;
  margin-right: 500px;
}
.credits-container{
  margin-top: 40px;
}
.logo-container{
  margin-top: 40px;
  border-radius: 25px;
}
.dashboard-container{
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 300px;
}
body{
  background: lightcyan !important;
}

